flow.json
[
    {
        "id": "c740254358c79788",
        "type": "tab",
        "label": "ENV/Links",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8b39bad946d8ab6",
        "type": "tab",
        "label": "Auth Module",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7b13882ad5aa8e09",
        "type": "tab",
        "label": "Orders",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42cf3c01bc6c1d41",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "81031a41452292e5",
        "type": "group",
        "z": "c8b39bad946d8ab6",
        "name": "Roles",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "04ab9e97bf9e23e7",
            "84a24b2bf96c7d10",
            "561598685195f480",
            "c5be1687df4038a9",
            "fe134326442270d0",
            "a5211f330054a0f9",
            "b0766e91bd6c6a00",
            "d9487f0690457157",
            "9710436b969b38d7",
            "68b716a28a9c06f9",
            "31c23a05e29832de",
            "67d53a0197042a25",
            "e7c108f3663fd09c",
            "22579b498a3c1141",
            "69547a71e13702ba",
            "c2a121b11062dbc8",
            "99069fd281c3aa62",
            "1abe7468edf9c502",
            "3baac374b1dd3f4d",
            "ee3708d6d2779c2c",
            "3594cb050006f93b",
            "612e0a2b392767a6",
            "d223f3d36f46a91d",
            "731ac723f96cc33b",
            "110f980283b587bc",
            "b26cafe18475e3cb",
            "c1c36f3949756248",
            "306adf550fae80e8"
        ],
        "x": 894,
        "y": 1879,
        "w": 652,
        "h": 702
    },
    {
        "id": "2229ae9934019399",
        "type": "group",
        "z": "c8b39bad946d8ab6",
        "name": "Confirm Email Registration",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6d762311464829e7",
            "9a785ddcdaf6df0d",
            "9ef904e08c1b1ac1",
            "636a9bb0cdc28a94",
            "85976ad92833929a",
            "a2b1bc579a4c0ced"
        ],
        "x": 14,
        "y": 1119,
        "w": 942,
        "h": 122
    },
    {
        "id": "5bf7ccb6c6709633",
        "type": "group",
        "z": "c8b39bad946d8ab6",
        "name": "Reset Password",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "970bf1d3e8383bba",
            "2082fa66df328468",
            "bdbcc19d02a07b56",
            "9c78085fd79972cb",
            "2687dc71562c4d72",
            "d09ec9996f8a154c",
            "17248297231b9d88",
            "59a6366d8be0ed5e",
            "a605c9337c4c16d3",
            "97dc27c464c28717",
            "4f97e46839f52868",
            "ddf35fbb3e263951",
            "0d5a011ed0707629",
            "2212b62e77474999",
            "6730dfa61287b9f2",
            "a2eb69e6ad5db371",
            "80ae78b49345f62c",
            "654fcb097eed7e68",
            "d12866b139615b07",
            "45455fa4faeda4c6",
            "ca0b1f9a3c42aad6",
            "7df30165a4d0a7eb",
            "36a8ed88d4ee5217"
        ],
        "x": 14,
        "y": 1339,
        "w": 1412,
        "h": 462
    },
    {
        "id": "3b2ecc05f3cef5f7",
        "type": "group",
        "z": "c8b39bad946d8ab6",
        "name": "User Management",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2083b217673380ca",
            "ac9687b0e33d5319",
            "5189344f4260b4cb",
            "5cc768d59c9037f5",
            "58eb2605635a4f7e",
            "08b7f75f949f6937",
            "258e18ed74ffabde",
            "655fc308a4013906",
            "2709d229c1198629",
            "277dc08e100cba9a",
            "bdb1c0ed58d664b3",
            "90ea91af87880852",
            "47d7659c57682dc5",
            "0148d4c43311575a",
            "bfda0ffbb10779bc",
            "0ad420bdb40c7f48",
            "0107039c4340e3b2",
            "37630c5145f4933f",
            "4c2bfcca94198e63",
            "97840b426439aec0"
        ],
        "x": 14,
        "y": 2659,
        "w": 932,
        "h": 402
    },
    {
        "id": "a8bcf74ef7690d27",
        "type": "group",
        "z": "c8b39bad946d8ab6",
        "name": "Modules",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "081c8c3d3092e3d2",
            "8c9188bca9c91600",
            "8e90850289063c0f",
            "ca87b60d60b99eb0",
            "48a302c4afb1b770",
            "c3b02c1f4edbee09",
            "2b147567f51c6f9d",
            "8155b8084ded1330",
            "94ae2989955beeda",
            "b017876ae60e280c",
            "98b2c82db768e5e1",
            "edf06a17bf884f9f",
            "33228ac20bb88129",
            "8a003992c216e032",
            "8886a378d607c9c3",
            "cdf04d878afee1d5",
            "5cbf5ba2c4c74a4f",
            "b473ee4234249f14",
            "620b6e5d1c9e4858",
            "d868f70232c05f3c",
            "382da0ed3f1de901",
            "411b69c681820b0e",
            "500861a5b5623bc5",
            "81bdba71023d5429",
            "3000e64189b3ff39",
            "6d5c9e567735125f",
            "0d8e4b5e24ee7f2c",
            "080f87898258c1e5",
            "3835bedd5b59284c",
            "920e683749d9b015",
            "7001dd6d6d4622d6",
            "ae293692fead8475",
            "732470b6749e6a6e"
        ],
        "x": 4,
        "y": 1859,
        "w": 722,
        "h": 722
    },
    {
        "id": "a37ab3c2d5e20f98",
        "type": "group",
        "z": "c740254358c79788",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cf3a1b1c08af9e02",
            "a6f14e9d46f3ce8d",
            "2c3eedcffea1403b",
            "ad348c25f9aa029f",
            "dfaba1c7f7b3c160"
        ],
        "x": 54,
        "y": 39,
        "w": 612,
        "h": 162
    },
    {
        "id": "4004417c3f3f1e00",
        "type": "group",
        "z": "c740254358c79788",
        "name": "linking",
        "style": {
            "label": true
        },
        "nodes": [
            "346e518816416d1d",
            "b7c366424b9b7e6e",
            "1764f8568a80ddbd",
            "286431cd31c9fc7a",
            "4307ecabcc6486c7",
            "6544322b922c1a49",
            "7739c6ef4683fa04",
            "5accd99f247f88ec",
            "7ce3e0949b4a483f",
            "6a3c98d4b6b016de",
            "a902fac8c21085e6",
            "84c75bed55ab1dd8"
        ],
        "x": 54,
        "y": 239,
        "w": 1302,
        "h": 202
    },
    {
        "id": "d78377c07a215120",
        "type": "group",
        "z": "c8b39bad946d8ab6",
        "name": "Authorization",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5c6e2dd94ba411ce",
            "672799ed948f1313",
            "b085f10213c6a2fc",
            "e594c405f087b6cf",
            "0608e9f35bdcacf1",
            "1adb12ad2ffdeb42",
            "d390b9504c129252",
            "b457f0b5c3fd5d96",
            "097b05d6f95dab62",
            "dd3e208dfbba0a56",
            "265641df05c1ca83",
            "de79ea462e97e016",
            "73893182e2e2ed57",
            "cfc7631182b5ef67",
            "a602a24988dcc60f",
            "6f81187c8d88e4de",
            "1a6b5d862a0b4bfc",
            "ca2dc46c7edc0fb2",
            "e49d1c22247329f1",
            "962e2be5ddd19cfc",
            "79c17e7d8ed1f939",
            "c67252247235be7c",
            "d8f65e08d1802e8e",
            "92a82d990292b9c2",
            "e653dc9c2aa956f2",
            "0b6ff6d92b1de7e7",
            "f2f94b0b491998e3",
            "e4082ecde347ac24",
            "831f0bc99fde7925",
            "376f7da2f0d85f32",
            "9da58b8ba7897ee6",
            "bb1864602327c1ca",
            "eed04ab51fe181f6",
            "406b08af64a38632",
            "46d2feb29eb7f617",
            "ba0fdb3c55f49767",
            "99544f5cb03a9f23",
            "32fb51525caa70d8",
            "d2dc6d60f2aadf80",
            "71d0784401d97a30",
            "6012ab98a19cbb6a"
        ],
        "x": 14,
        "y": 59,
        "w": 1932,
        "h": 942
    },
    {
        "id": "7846481e870df3f9",
        "type": "mongodb",
        "hostname": "${FONDYDB-MONGO-HOST-NAME}",
        "topology": "direct",
        "connectOptions": "authSource=admin",
        "port": "27017",
        "db": "${FONDYDB-MONGO-DB-NAME}",
        "name": ""
    },
    {
        "id": "cf3a1b1c08af9e02",
        "type": "inject",
        "z": "c740254358c79788",
        "g": "a37ab3c2d5e20f98",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "a6f14e9d46f3ce8d"
            ]
        ]
    },
    {
        "id": "a6f14e9d46f3ce8d",
        "type": "function",
        "z": "c740254358c79788",
        "g": "a37ab3c2d5e20f98",
        "name": "helpers",
        "func": "const helpers = {\n    convertToKyivTime: () => {\n        \n        let currentDate = new Date();\n\n        let options = {\n            year: 'numeric',\n            month: 'numeric',\n            day: 'numeric',\n            hour: 'numeric',\n            minute: 'numeric',\n            second: 'numeric',\n            timeZone: 'Europe/Kiev',\n        };\n\n        let formattedDate = currentDate.toLocaleString('uk-UA', options);\n        return formattedDate;\n    },\n    replaceSymbols: (title) =>{\n        const replacements = {\n            '&#39;&#39;': \"'\", // Double single quote\n            '&#39;': \"'\",    // Single quote\n            '&quot;': \"'\",   // Double quote\n            // Add more replacement mappings as needed\n        };\n\n        return title.replace(/&#39;&#39;|&quot;/g, \"'\")\n    }\n}\n\nglobal.set('helpers', helpers)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2c3eedcffea1403b",
        "type": "function",
        "z": "c740254358c79788",
        "g": "a37ab3c2d5e20f98",
        "name": "ENV",
        "func": "\nconst processENV = {\n    password: msg.payload.password,\n    merchant_id: msg.payload.merchant_id\n}\n\nglobal.set('processENV', processENV)\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "dfaba1c7f7b3c160"
            ]
        ]
    },
    {
        "id": "96319c9ad2f004ba",
        "type": "http in",
        "z": "c740254358c79788",
        "name": "",
        "url": "/css",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 760,
        "y": 80,
        "wires": [
            [
                "efe9fe1b92292e23"
            ]
        ]
    },
    {
        "id": "27ddc948c4bf9c17",
        "type": "http response",
        "z": "c740254358c79788",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/css"
        },
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "efe9fe1b92292e23",
        "type": "template",
        "z": "c740254358c79788",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": "\nbody section{\n    background-color: #ffffff!important;\n}\n.canvas {\n  height:inherit !important; \n}\n.container{\n    background-color: #ffffff!important;\n    min-width: 100vw !important;\n    min-height: 100vh !important;\n    top: 0 !important;\n    left: 0 !important;\n}\n.login_tabs{\n    min-width: 60vw !important;\n    min-height: 100vh !important;\n    top: 0 !important;\n    left: 0 !important;\n    border: none !important;\n    padding: 0 !important;\n}\n.login_container{\n    left: 7% !important;\n    top: 10% !important;\n}\n\n.input .bp3-input{\n    border-radius: 5px !important;\n}\n\n.title .bp3-ui-text {\n   font-size: clamp(20px, 2.5vw, 50px) !important; \n   cursor: default !important;\n    -webkit-text-stroke: 1px #f27f71;\n}\n\n.sidebar{\n    min-height: 100vh !important;\n    top: 0 !important;\n    left: 0 !important;\n    padding: 0px !important;\n    width: 160px !important;\n}\n.header{\n   top: 0 !important;\n   left: 167px !important;\n   padding: 0px !important; \n   width: calc(100% - 160px) !important;\n}\n.accordion .bp3-button:not([class*=bp3-intent-]) {\n    box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);\n}\n.accordion .bp3-button.active, .sub_category.active{\n    background-color: rgba(245, 163, 142, 0.325) !important;\n}\n.small_container{\n    top: 60px !important;\n    left: 167px  !important;\n    padding: 0px !important;\n    width: calc(100% - 160px) !important;\n    \n}\n.strt_container{\n    left: 13%  !important;\n}\n.t--widget-accordionwidget, .logo{\n    left: 1px !important;\n    width: 100% !important;\n}\n.input_url .bp3-input:disabled{\nbackground-color: #ffffff !important;\ncolor: #000000 !important;\n}\n.input_url .bp3-label {\ncolor: #000000 !important;\n}\n.json{\n    padding-left: 40px;\n}\n/* _____________DASHBOARD_________________ */\n\n.dashboard_btn{\n    border: 2px solid #FCCBC4;\n    border-radius: 5px;\n    cursor: pointer !important;\n    padding: 10px !important;\n    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px !important;\n}\n.dashboard_btn:hover{\n    border: 2px solid #f58181;\n    box-shadow: none !important;\n}\n.dashboard_btn span{\n    cursor: pointer !important;\n}",
        "output": "str",
        "x": 900,
        "y": 80,
        "wires": [
            [
                "27ddc948c4bf9c17"
            ]
        ]
    },
    {
        "id": "346e518816416d1d",
        "type": "link in",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "name": "find",
        "links": [],
        "x": 95,
        "y": 320,
        "wires": [
            [
                "a902fac8c21085e6"
            ]
        ]
    },
    {
        "id": "b7c366424b9b7e6e",
        "type": "link in",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "name": "aggregate",
        "links": [],
        "x": 95,
        "y": 400,
        "wires": [
            [
                "84c75bed55ab1dd8"
            ]
        ]
    },
    {
        "id": "1764f8568a80ddbd",
        "type": "link in",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "name": "insert",
        "links": [],
        "x": 625,
        "y": 320,
        "wires": [
            [
                "7739c6ef4683fa04",
                "7ce3e0949b4a483f"
            ]
        ]
    },
    {
        "id": "286431cd31c9fc7a",
        "type": "link in",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "name": "update",
        "links": [],
        "x": 625,
        "y": 380,
        "wires": [
            [
                "5accd99f247f88ec",
                "6a3c98d4b6b016de"
            ]
        ]
    },
    {
        "id": "4307ecabcc6486c7",
        "type": "link out",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 465,
        "y": 320,
        "wires": []
    },
    {
        "id": "6544322b922c1a49",
        "type": "link out",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "name": "link out 2",
        "mode": "return",
        "links": [],
        "x": 465,
        "y": 400,
        "wires": []
    },
    {
        "id": "7739c6ef4683fa04",
        "type": "link out",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 835,
        "y": 280,
        "wires": []
    },
    {
        "id": "5accd99f247f88ec",
        "type": "link out",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "name": "link out 5",
        "mode": "return",
        "links": [],
        "x": 785,
        "y": 360,
        "wires": []
    },
    {
        "id": "7ce3e0949b4a483f",
        "type": "mongodb out",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "mongodb": "7846481e870df3f9",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1070,
        "y": 320,
        "wires": []
    },
    {
        "id": "6a3c98d4b6b016de",
        "type": "mongodb out",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "mongodb": "7846481e870df3f9",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 930,
        "y": 400,
        "wires": []
    },
    {
        "id": "a902fac8c21085e6",
        "type": "mongodb in",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "mongodb": "7846481e870df3f9",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "4307ecabcc6486c7"
            ]
        ]
    },
    {
        "id": "84c75bed55ab1dd8",
        "type": "mongodb in",
        "z": "c740254358c79788",
        "g": "4004417c3f3f1e00",
        "mongodb": "7846481e870df3f9",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "6544322b922c1a49"
            ]
        ]
    },
    {
        "id": "ad348c25f9aa029f",
        "type": "http in",
        "z": "c740254358c79788",
        "g": "a37ab3c2d5e20f98",
        "name": "",
        "url": "/saveCredentials",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "2c3eedcffea1403b"
            ]
        ]
    },
    {
        "id": "dfaba1c7f7b3c160",
        "type": "http response",
        "z": "c740254358c79788",
        "g": "a37ab3c2d5e20f98",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "04ab9e97bf9e23e7",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "func": "msg.collection = \"admin_roles\";\n\nmsg.payload={\n    name:msg.payload.name,\n    deleted:false,\n    permissions: [],\n    createdAt: new Date((new Date().toISOString()))\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 2120,
        "wires": [
            [
                "561598685195f480",
                "9710436b969b38d7"
            ]
        ]
    },
    {
        "id": "84a24b2bf96c7d10",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "createRole",
        "url": "/createRole",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 980,
        "y": 2120,
        "wires": [
            [
                "04ab9e97bf9e23e7"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "561598685195f480",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1350,
        "y": 2140,
        "wires": []
    },
    {
        "id": "c5be1687df4038a9",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "getRoles",
        "url": "/getRoles",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 980,
        "y": 1920,
        "wires": [
            [
                "68b716a28a9c06f9"
            ]
        ]
    },
    {
        "id": "fe134326442270d0",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1470,
        "y": 1920,
        "wires": []
    },
    {
        "id": "a5211f330054a0f9",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "addModuleToRole",
        "url": "/addModuleToRole",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1010,
        "y": 2220,
        "wires": [
            [
                "d9487f0690457157"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "b0766e91bd6c6a00",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1350,
        "y": 2240,
        "wires": []
    },
    {
        "id": "d9487f0690457157",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "func": "msg.collection = \"admin_roles\";\n\nlet crud = {\n    \"canCreate\": false,\n    \"canRead\": false,\n    \"canEdit\": false,\n    \"canRemove\": false\n}\n\nmsg.payload.options.map(e => {\n    if (e == \"C\") {\n        crud.canCreate = true\n    }\n    else if (e == \"R\") {\n        crud.canRead = true\n    }\n    else if (e == \"U\") {\n        crud.canEdit = true\n    } else if (e == \"D\") {\n        crud.canRemove = true\n    }\n})\n\n\nlet modules = msg.payload.moduleName.map((name, index)=> {\n    return {\n        \"name\": name,\n        \"value\": msg.payload.moduleValue[index]\n    }\n\n})\n\nlet preparedModules\n = modules.map(item => {\n    return{\n        module: item.name,\n        moduleId: objectid(item.value),\n        ...crud\n    }\n})\n\nmsg.query={\n    \"_id\":objectid(msg.payload._id)\n}\n\nmsg.payload={\n    $push: {\n        permissions: {\n            $each: [...preparedModules]\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 1200,
        "y": 2220,
        "wires": [
            [
                "b0766e91bd6c6a00",
                "67d53a0197042a25"
            ]
        ]
    },
    {
        "id": "9710436b969b38d7",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "links": [
            "1764f8568a80ddbd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1350,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "68b716a28a9c06f9",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "func": "msg.collection=\"admin_roles\"\nmsg.payload={\n    deleted: false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1920,
        "wires": [
            [
                "31c23a05e29832de"
            ]
        ]
    },
    {
        "id": "31c23a05e29832de",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1350,
        "y": 1920,
        "wires": [
            [
                "fe134326442270d0"
            ]
        ]
    },
    {
        "id": "67d53a0197042a25",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1350,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "e7c108f3663fd09c",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "func": "msg.collection =\"admin_roles\"\n\nmsg.query={\n    _id: objectid(msg.payload._id)\n}\n\nmsg.payload={\n    $set:{\n        name: msg.payload.name\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 1200,
        "y": 2320,
        "wires": [
            [
                "69547a71e13702ba",
                "c2a121b11062dbc8"
            ]
        ]
    },
    {
        "id": "22579b498a3c1141",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "updateRole",
        "url": "/updateRole",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 990,
        "y": 2320,
        "wires": [
            [
                "e7c108f3663fd09c"
            ]
        ],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "69547a71e13702ba",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "10",
        "x": 1350,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "c2a121b11062dbc8",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1350,
        "y": 2340,
        "wires": []
    },
    {
        "id": "99069fd281c3aa62",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "deleteModuleFromRole",
        "url": "/deleteModuleFromRole",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 1020,
        "y": 2520,
        "wires": [
            [
                "1abe7468edf9c502"
            ]
        ],
        "icon": "font-awesome/fa-remove"
    },
    {
        "id": "1abe7468edf9c502",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "func": "msg.collection = \"admin_roles\";\n\nmsg.query = {\n   \"_id\": objectid(msg.payload._id)\n};\n\nconst deleteModulesId = msg.payload.moduleId.map(i => objectid(i));\n\nmsg.payload = {\n    $pull: {\n        permissions: {\n            moduleId: {\n                $in: deleteModulesId\n            }\n        }\n    }\n}\n\n// msg.payload = {\n//     $pull: {\n//         \"permissions\": {\n//             \"moduleId\": objectid(msg.payload.moduleId)\n//         }\n//     }\n// }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 1200,
        "y": 2520,
        "wires": [
            [
                "3baac374b1dd3f4d",
                "731ac723f96cc33b"
            ]
        ]
    },
    {
        "id": "3baac374b1dd3f4d",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1350,
        "y": 2500,
        "wires": [
            []
        ]
    },
    {
        "id": "ee3708d6d2779c2c",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "deleteRole",
        "url": "/deleteRole",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 980,
        "y": 2420,
        "wires": [
            [
                "3594cb050006f93b"
            ]
        ],
        "icon": "font-awesome/fa-remove"
    },
    {
        "id": "3594cb050006f93b",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "func": "msg.collection =\"admin_roles\"\n\nmsg.query={\n    _id: objectid(msg.payload._id)\n}\n\nmsg.payload={\n    $set:{\n        deleted: true\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 1200,
        "y": 2420,
        "wires": [
            [
                "d223f3d36f46a91d",
                "612e0a2b392767a6"
            ]
        ]
    },
    {
        "id": "612e0a2b392767a6",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1350,
        "y": 2440,
        "wires": []
    },
    {
        "id": "d223f3d36f46a91d",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1350,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "731ac723f96cc33b",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1350,
        "y": 2540,
        "wires": []
    },
    {
        "id": "110f980283b587bc",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "get roles",
        "func": "msg.collection = \"admin_roles\"\nlet match = {};\nif (msg.payload.name != \",\" && msg.payload.name) {\n    match = {\n        name: { $regex: msg.payload.name, $options: \"i\" }\n    }\n}\n\nmsg.payload = {\n    deleted: false, \n    ...match\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 2020,
        "wires": [
            [
                "b26cafe18475e3cb"
            ]
        ]
    },
    {
        "id": "b26cafe18475e3cb",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1350,
        "y": 2020,
        "wires": [
            [
                "c1c36f3949756248"
            ]
        ]
    },
    {
        "id": "c1c36f3949756248",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1470,
        "y": 2020,
        "wires": []
    },
    {
        "id": "306adf550fae80e8",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "81031a41452292e5",
        "name": "getAllRoles",
        "url": "/getAllRoles",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 990,
        "y": 2020,
        "wires": [
            [
                "110f980283b587bc"
            ]
        ],
        "info": "Use in: User Management"
    },
    {
        "id": "081c8c3d3092e3d2",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "createParentModule",
        "url": "/createParentModule",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1980,
        "wires": [
            [
                "8e90850289063c0f"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "8c9188bca9c91600",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 2000,
        "wires": []
    },
    {
        "id": "8e90850289063c0f",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "func": "msg.collection = \"admin_modules\"\n\nmsg.payload = {\n    ...msg.payload,\n    deleted: false,\n    isParent: false\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1980,
        "wires": [
            [
                "5cbf5ba2c4c74a4f",
                "8c9188bca9c91600"
            ]
        ]
    },
    {
        "id": "ca87b60d60b99eb0",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "getModules",
        "url": "/getModules",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 1900,
        "wires": [
            [
                "c3b02c1f4edbee09"
            ]
        ]
    },
    {
        "id": "48a302c4afb1b770",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 1900,
        "wires": []
    },
    {
        "id": "c3b02c1f4edbee09",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "func": "msg.collection=\"admin_modules\"\nmsg.payload={\n    deleted:false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1900,
        "wires": [
            [
                "33228ac20bb88129"
            ]
        ]
    },
    {
        "id": "2b147567f51c6f9d",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "createChildModule",
        "url": "/createChildModule",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 2300,
        "wires": [
            [
                "94ae2989955beeda"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "8155b8084ded1330",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 2300,
        "wires": []
    },
    {
        "id": "94ae2989955beeda",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "query",
        "func": "msg.collection = \"admin_modules\";\n\nif (msg.payload.parentModule) {\n    msg.query={\n        \"_id\": objectid(msg.payload.parentModule)\n    };\n\n    msg.payload = {\n        $addToSet: {\n            childModules: {\n                name: msg.payload.childModule,\n                page_id: msg.payload.childModule,\n                position: msg.payload.position\n            }\n        },\n        $set: {\n            isParent: true\n        }\n    }\n\n    return [msg,];\n} else {\n    \n    \n    msg.payload={\n        ...msg.payload,\n        deleted: false,\n        isParent: false\n    }\n    return [,msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 350,
        "y": 2300,
        "wires": [
            [
                "cdf04d878afee1d5",
                "8155b8084ded1330"
            ],
            [
                "8886a378d607c9c3",
                "8155b8084ded1330"
            ]
        ]
    },
    {
        "id": "b017876ae60e280c",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "deleteChildModule",
        "url": "/deleteChildModule",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 2520,
        "wires": [
            [
                "98b2c82db768e5e1"
            ]
        ],
        "icon": "font-awesome/fa-remove"
    },
    {
        "id": "98b2c82db768e5e1",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "query",
        "func": "msg.collection=\"admin_modules\";\n\nmsg.query = {\n    \"_id\": objectid(msg.payload._id)\n};\n\nmsg.payload = {\n    $pull: {\n        \"childModules\": {\n            \"name\": msg.payload.childModule_id\n        }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 350,
        "y": 2520,
        "wires": [
            [
                "8a003992c216e032",
                "edf06a17bf884f9f"
            ]
        ]
    },
    {
        "id": "edf06a17bf884f9f",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 2500,
        "wires": []
    },
    {
        "id": "33228ac20bb88129",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 1900,
        "wires": [
            [
                "48a302c4afb1b770"
            ]
        ]
    },
    {
        "id": "8a003992c216e032",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 2540,
        "wires": [
            []
        ]
    },
    {
        "id": "8886a378d607c9c3",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "links": [
            "1764f8568a80ddbd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "cdf04d878afee1d5",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "5cbf5ba2c4c74a4f",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "links": [
            "1764f8568a80ddbd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "b473ee4234249f14",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "620b6e5d1c9e4858",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "updateChildModule",
        "url": "/updateChildModule",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 2420,
        "wires": [
            [
                "d868f70232c05f3c"
            ]
        ],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "d868f70232c05f3c",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "query",
        "func": "msg.collection = \"admin_modules\";\n\nmsg.query = {\n    \"_id\": objectid(msg.payload._id),\n    \"childModules.name\": msg.payload.name\n};\n\nmsg.payload = {\n    $set: {\n        \"childModules.$.position\": msg.payload.position\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 350,
        "y": 2420,
        "wires": [
            [
                "b473ee4234249f14",
                "382da0ed3f1de901"
            ]
        ]
    },
    {
        "id": "382da0ed3f1de901",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 2400,
        "wires": []
    },
    {
        "id": "2083b217673380ca",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "delete user query",
        "func": "msg.collection = \"admins\"\n\nmsg.query = {\n    \"_id\": objectid(msg.payload._id)\n};\n\nmsg.payload = {\n    $set: { \"deleted\": true }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 330,
        "y": 2880,
        "wires": [
            [
                "90ea91af87880852",
                "bdb1c0ed58d664b3"
            ]
        ]
    },
    {
        "id": "ac9687b0e33d5319",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "get users query",
        "func": "msg.collection = \"admins\";\n\nmsg.payload=[\n    {\n      $match:{\n        deleted:false\n      }\n    },\n    {\n      $lookup: {\n       \"from\": \"admin_roles\",\n       \"localField\": \"roles\",\n       \"foreignField\":\"_id\",\n       \"as\": \"role_items\"\n     }\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2700,
        "wires": [
            [
                "5cc768d59c9037f5"
            ]
        ]
    },
    {
        "id": "5189344f4260b4cb",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "getUsers",
        "url": "/getUsers",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 2700,
        "wires": [
            [
                "ac9687b0e33d5319"
            ]
        ]
    },
    {
        "id": "5cc768d59c9037f5",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "",
        "links": [
            "b7c366424b9b7e6e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 500,
        "y": 2700,
        "wires": [
            [
                "58eb2605635a4f7e"
            ]
        ]
    },
    {
        "id": "58eb2605635a4f7e",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 2700,
        "wires": []
    },
    {
        "id": "08b7f75f949f6937",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "editUserRole",
        "url": "/editUserRole",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 2780,
        "wires": [
            [
                "258e18ed74ffabde"
            ]
        ],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "258e18ed74ffabde",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "edit role query",
        "func": "msg.collection = \"admins\";\n\nmsg.query = {\n    \"_id\": objectid(msg.payload._id)\n}\n\nmsg.payload = {\n    $set: {\n        \"roles\": [objectid(msg.payload.role)]\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 320,
        "y": 2780,
        "wires": [
            [
                "2709d229c1198629",
                "655fc308a4013906"
            ]
        ]
    },
    {
        "id": "655fc308a4013906",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 490,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "2709d229c1198629",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 2800,
        "wires": []
    },
    {
        "id": "277dc08e100cba9a",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "deleteUser",
        "url": "/deleteUser",
        "method": "delete",
        "upload": true,
        "swaggerDoc": "",
        "x": 100,
        "y": 2880,
        "wires": [
            [
                "2083b217673380ca"
            ]
        ],
        "icon": "font-awesome/fa-remove"
    },
    {
        "id": "bdb1c0ed58d664b3",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 2900,
        "wires": []
    },
    {
        "id": "90ea91af87880852",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 490,
        "y": 2860,
        "wires": [
            []
        ]
    },
    {
        "id": "6d762311464829e7",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "2229ae9934019399",
        "name": "verifyToken",
        "url": "/verifyToken",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 1160,
        "wires": [
            [
                "9ef904e08c1b1ac1"
            ]
        ]
    },
    {
        "id": "9a785ddcdaf6df0d",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "2229ae9934019399",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9ef904e08c1b1ac1",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "2229ae9934019399",
        "name": "query to db",
        "func": "msg.collection = \"admins\";\nmsg.cameToken = msg.payload.token;\n\nmsg.payload = {\n    verifyToken: msg.payload.token\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1160,
        "wires": [
            [
                "85976ad92833929a"
            ]
        ]
    },
    {
        "id": "636a9bb0cdc28a94",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "2229ae9934019399",
        "name": "redirect to page",
        "func": "node.warn(msg)\nconst token = await jwt.sign(\n    { user_id: msg.payload[0]._id, email: msg.payload[0].email },\n    \"fGh2W42l\",\n    {\n        expiresIn: \"30d\",\n    }\n);\n\nconst ui = env.get(\"ui\");\n\nmsg.token = token\nmsg.statusCode = 302\nmsg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\",\n    \"Access-Control-Allow-Credentials\": true,\n    \"location\": `${ui}/Login`\n}\n\nmsg.collection = \"admins\";\nmsg.query = {\n    _id: objectid(msg.payload[0]._id)\n}\nmsg.payload = {\n    $set: {\n        active: true,\n        verifyToken: null\n    }\n}\n\nnode.send(msg)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            },
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 680,
        "y": 1160,
        "wires": [
            [
                "9a785ddcdaf6df0d",
                "a2b1bc579a4c0ced"
            ]
        ]
    },
    {
        "id": "85976ad92833929a",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "2229ae9934019399",
        "name": "",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 490,
        "y": 1160,
        "wires": [
            [
                "636a9bb0cdc28a94"
            ]
        ]
    },
    {
        "id": "a2b1bc579a4c0ced",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "2229ae9934019399",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 870,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "970bf1d3e8383bba",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "queryToResetPassword",
        "url": "/queryToResetPassword",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1600,
        "wires": [
            [
                "2082fa66df328468"
            ]
        ]
    },
    {
        "id": "2082fa66df328468",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "query to db",
        "func": "msg.collection = \"admins\";\nmsg.token = msg.payload.token;\n\nmsg.payload = {\n    resetPassToken: msg.payload.token\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1600,
        "wires": [
            [
                "bdbcc19d02a07b56"
            ]
        ]
    },
    {
        "id": "bdbcc19d02a07b56",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 1600,
        "wires": [
            [
                "9c78085fd79972cb"
            ]
        ]
    },
    {
        "id": "9c78085fd79972cb",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "redirect to page",
        "func": "const dateNow = new Date().getTime();\nconst ui = env.get(\"ui\");\n\nif (msg.payload[0].resetPassExpireToken > dateNow) {\n    msg.statusCode = 302\n    msg.headers = {\n        \"Access-Control-Allow-Origin\": \"*\",\n        \"Access-Control-Allow-Credentials\": true,\n        \"location\": `${ui}/ResetPassword?token=${msg.token}`\n    }\n} else {\n    msg.payload = '<h1>Link expired</h1>';\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            },
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 700,
        "y": 1600,
        "wires": [
            [
                "2687dc71562c4d72"
            ]
        ]
    },
    {
        "id": "2687dc71562c4d72",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 1600,
        "wires": []
    },
    {
        "id": "d09ec9996f8a154c",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "sendEmailForResetPassword",
        "url": "/sendEmailForResetPassword",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1420,
        "wires": [
            [
                "17248297231b9d88"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "17248297231b9d88",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "query to db",
        "func": "const regexEmail = /^(([^<>()[\\]\\.,;:\\s@\\\"]+(\\.[^<>()[\\]\\.,;:\\s@\\\"]+)*)|(\\\".+\\\"))@(([^<>()[\\]\\.,;:\\s@\\\"]+\\.)+[^<>()[\\]\\.,;:\\s@\\\"]{2,})$/i;\nconst email = msg.payload.email.toLowerCase();\n\nif (!regexEmail.test(email)) {\n\n    msg.statusCode = 401;\n    msg.payload = {\n        data: \"Email is invalid\",\n        code: 401\n    }\n\n    return [null, msg];\n\n} else {\n    msg.collection = \"admins\";\n\n    msg.email = msg.payload.email;\n\n    msg.payload = {\n        email: email,\n        deleted: false\n    }\n\n    return [msg, null];\n} \n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1420,
        "wires": [
            [
                "59a6366d8be0ed5e"
            ],
            [
                "5164464dd17d2bc2"
            ]
        ]
    },
    {
        "id": "59a6366d8be0ed5e",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 1400,
        "wires": [
            [
                "a605c9337c4c16d3"
            ]
        ]
    },
    {
        "id": "a605c9337c4c16d3",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "send response",
        "func": "if (msg.payload.length === 0){\n    msg.statusCode = 401;\n\n    msg.payload = {\n        data: \"Forbidden! Incorrect email.\",\n        code: 401\n    }\n    return [null, msg]\n}\n\nmsg.payload = msg.payload[0];\n    \nreturn[msg, null]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1400,
        "wires": [
            [
                "97dc27c464c28717"
            ],
            [
                "4f97e46839f52868"
            ]
        ]
    },
    {
        "id": "97dc27c464c28717",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "query to db",
        "func": "// Add 30 minutes\nconst date = new Date();\nconst expireTime = date.setMinutes(date.getMinutes() + 30);\nconst token = crypto.randomBytes(64).toString('hex');\n\nmsg.oldpayload = msg.payload;\nmsg.token = token;\n\nmsg.cookies = {};\nmsg.cookies[\"user_email\"] = msg.email;\n\nmsg.collection = \"admins\";\nmsg.query = {\n    _id: objectid(msg.payload._id)\n}\nmsg.payload = {\n    $set: {\n        resetPassToken: token,\n        resetPassExpireToken: expireTime\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            },
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 990,
        "y": 1380,
        "wires": [
            [
                "ddf35fbb3e263951",
                "0d5a011ed0707629"
            ]
        ]
    },
    {
        "id": "4f97e46839f52868",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 1420,
        "wires": []
    },
    {
        "id": "ddf35fbb3e263951",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "msg to email",
        "func": "const back = env.get(\"back\");\nconst url = `${back}/queryToResetPassword?token=${msg.token}`;\n\nconst text = `\n<div style=\"padding: 10px 0; color: black;\">\n    <h1>We received a request to reset your password</h1>\n    <p>Use the link below to set up a new password for your account. If you did not request to reset your password, ignore this email and the link will expire on its own.</p>\n    <a href=\"${url}\" target=\"_blank\" style=\"margin: 10px 0; display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px; background: #2E3D49;\">\n        SET NEW PASSWORD\n    </a>\n</div>\n`;\n\nmsg.to = msg.oldpayload.email;\nmsg.topic = 'Reset password';\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            }
        ],
        "x": 1170,
        "y": 1380,
        "wires": [
            [
                "2212b62e77474999"
            ]
        ]
    },
    {
        "id": "0d5a011ed0707629",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1150,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "2212b62e77474999",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1350,
        "y": 1380,
        "wires": []
    },
    {
        "id": "6730dfa61287b9f2",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "resetPassword",
        "url": "/resetPassword",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1720,
        "wires": [
            [
                "a2eb69e6ad5db371"
            ]
        ],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "a2eb69e6ad5db371",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "query to db",
        "func": "msg.newPassword = msg.payload.password;\n\nmsg.collection = \"admins\";\nmsg.payload = {\n    resetPassToken: msg.payload.token\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1720,
        "wires": [
            [
                "80ae78b49345f62c"
            ]
        ]
    },
    {
        "id": "80ae78b49345f62c",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 1720,
        "wires": [
            [
                "654fcb097eed7e68"
            ]
        ]
    },
    {
        "id": "654fcb097eed7e68",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "query update pass",
        "func": "const dateNow = new Date().getTime();\nlet check = await bcrypt.compare(msg.newPassword, msg.payload[0].password);\nlet encryptedPassword = await bcrypt.hash(msg.newPassword, 10);\n\nmsg.oldpayload = msg.payload;\n\nif (msg.payload[0].resetPassExpireToken < dateNow) {\n\n    msg.payload = '<h1>link expired</h1>';\n\n} else {\n\n    if (!!check) {\n\n        msg.statusCode = 401;\n        msg.payload = {\n            data: 'The password must be different from the previous one',\n            code: 401\n        }\n\n        return [null, msg];\n\n    } else {\n        \n        msg.collection = \"admins\";\n        msg.query = {\n            _id: objectid(msg.payload[0]._id)\n        }\n        msg.payload = {\n            $set: {\n                password: encryptedPassword,\n                resetPassToken: \"\",\n                resetPassExpireToken: null\n            }\n        }\n        \n        return [msg, null];\n\n    }\n\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            },
            {
                "var": "objectid",
                "module": "objectid"
            },
            {
                "var": "bcrypt",
                "module": "bcrypt"
            }
        ],
        "x": 710,
        "y": 1720,
        "wires": [
            [
                "d12866b139615b07",
                "45455fa4faeda4c6"
            ],
            [
                "7df30165a4d0a7eb"
            ]
        ]
    },
    {
        "id": "d12866b139615b07",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "msg to email",
        "func": "const ui = env.get(\"ui\");\nconst url = `${ui}/Login`;\nconst dateChanged = new Date().toString().slice(0, 24);\nconst text = `\n<div style=\"padding: 10px 0; color: black;\" display: block;>\n    <img src=\"https://www.iconpacks.net/icons/2/free-icon-check-mark-3280.png\"; alt=\"Success Icon\"; width=90px; height=90px;>\n    <h1 text-align=\"center\" >Password changed!</h1>\n    <p>\n        Your password has been changed successfully. \n        This is a confirmation that your password was changed at <b>${dateChanged}</b>\n        <br><br>\n        Use your new password to log in.\n    </p>\n    <a href=\"${url}\" target=\"_blank\" style=\"margin: 10px 0; display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px; background: #72D393;\">\n        <b>LOGIN NOW</b>\n    </a>\n</div>\n`;\n\nmsg.to = msg.oldpayload[0].email;\nmsg.topic = 'Password changed';\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            }
        ],
        "x": 910,
        "y": 1720,
        "wires": [
            [
                "ca0b1f9a3c42aad6"
            ]
        ]
    },
    {
        "id": "45455fa4faeda4c6",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 890,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "ca0b1f9a3c42aad6",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 1720,
        "wires": []
    },
    {
        "id": "411b69c681820b0e",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "\"deleted\": true",
        "func": "msg.collection = \"admin_modules\";\n\nmsg.query = {\n    \"_id\": objectid(msg.payload._id)\n};\n\nmsg.payload = {\n    $set: {\n        deleted: true\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 360,
        "y": 2160,
        "wires": [
            [
                "81bdba71023d5429"
            ]
        ]
    },
    {
        "id": "500861a5b5623bc5",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "url": "/deleteModule",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 2180,
        "wires": [
            [
                "411b69c681820b0e",
                "3000e64189b3ff39",
                "6d5c9e567735125f"
            ]
        ]
    },
    {
        "id": "81bdba71023d5429",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "3000e64189b3ff39",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "delete using pull",
        "func": "msg.collection = \"admin_roles\"\n\nmsg.query = {\n    \"permissions.moduleId\": objectid(msg.payload._id)\n}\n\nmsg.payload =\n    { $pull: { \"permissions\": { \"moduleId\": objectid(msg.payload._id) } } }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 360,
        "y": 2200,
        "wires": [
            [
                "0d8e4b5e24ee7f2c"
            ]
        ]
    },
    {
        "id": "6d5c9e567735125f",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 2180,
        "wires": []
    },
    {
        "id": "0d8e4b5e24ee7f2c",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "080f87898258c1e5",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "update roles",
        "func": "msg.collection = \"admin_roles\";\n\nmsg.query = {\n    \"permissions.moduleId\": objectid(msg.payload._id)\n    }\n\nmsg.payload = {\n    $set: {\n        \"permissions.$.module\": msg.payload.name\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 330,
        "y": 2060,
        "wires": [
            [
                "920e683749d9b015"
            ]
        ]
    },
    {
        "id": "3835bedd5b59284c",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "updateParentModule",
        "url": "/updateParentModule",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 2080,
        "wires": [
            [
                "ae293692fead8475",
                "080f87898258c1e5",
                "7001dd6d6d4622d6"
            ]
        ],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "920e683749d9b015",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "7001dd6d6d4622d6",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 2080,
        "wires": []
    },
    {
        "id": "ae293692fead8475",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "update parent",
        "func": "msg.collection = \"admin_modules\";\n\nmsg.query = {\n    _id: objectid(msg.payload._id)\n};\n\nmsg.payload = {\n    $set: {\n        icon: msg.payload.icon,\n        position: msg.payload.position,\n        name: msg.payload.name\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 340,
        "y": 2100,
        "wires": [
            [
                "732470b6749e6a6e"
            ]
        ]
    },
    {
        "id": "732470b6749e6a6e",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "a8bcf74ef7690d27",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "7df30165a4d0a7eb",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "same pasword",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1760,
        "wires": [
            [
                "36a8ed88d4ee5217"
            ]
        ]
    },
    {
        "id": "36a8ed88d4ee5217",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "5bf7ccb6c6709633",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 1760,
        "wires": []
    },
    {
        "id": "769c853fb108cedb",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "82bf44e646ff81c1",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 500,
        "wires": []
    },
    {
        "id": "5164464dd17d2bc2",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 1460,
        "wires": []
    },
    {
        "id": "0cfa0691dcae508d",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "menu grouping",
        "func": "msg.payload = msg.payload[0];\nmsg.permissions = msg.payload.permissions;\n\nfunction sortByPositionNumber(arr) {\n    return arr.sort((a, b) => +a.position - +b.position);\n}\n\nmsg.menu = sortByPositionNumber(msg.payload.menu).map(el => {\n\n    if (el.isParent) {\n        return {\n            \"label\": el.name,\n            \"value\": el.name,\n            \"icon\": el.icon ? el.icon : \"\",\n            \"children\": el.childModules.length \n                ? sortByPositionNumber(el.childModules)\n                  .map(item => ({\n                      \"label\": item.name,\n                      \"value\": item.name,\n                      \"icon\": item.icon ? item.icon : \"\"\n                  })) \n                : []\n        }\n    } else {\n        return {\n            \"label\": el.name,\n            \"value\": el.name,\n            \"children\": [],\n            \"icon\": el.icon ? el.icon : \"\",\n        }\n    }\n    \n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 820,
        "wires": [
            [
                "14cc1d46a9f6856f"
            ]
        ]
    },
    {
        "id": "14cc1d46a9f6856f",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "check user permissions",
        "func": "const pageName = msg.check.page_id.replace('%20', ' ');\n\nconst parentPage = msg.menu.map((el) => el.label).includes(pageName);\nconst childPage = msg.menu.filter((e) => e.children.length > 0).flatMap((el) => el.children).map((elem) => elem.label).includes(pageName);\n\nif (parentPage || childPage) {\n\n    msg.statusCode = 200;\n    msg.payload = {\n        auth: \"Success\",\n        code: 200,\n        user: {\n            \"menu\": msg.menu,\n            \"permission\": msg.permissions,\n            \"translation\": msg.payload.translation[0],\n            \"info\": msg.user\n        }\n    }\n\n} else {\n\n    msg.payload = {\n        auth: \"Unautorizate\",\n        code: 401,\n        login_id: msg.menu[0].value + `?pageName=${msg.menu[0].value}`,\n        app_id: msg.check.app_id\n    }\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 820,
        "wires": [
            [
                "a602a24988dcc60f"
            ]
        ]
    },
    {
        "id": "47d7659c57682dc5",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "createUser",
        "url": "/createUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 2980,
        "wires": [
            [
                "0148d4c43311575a"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "0148d4c43311575a",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "query",
        "func": "msg.collection = \"admins\";\nmsg.oldpayload = msg.payload;\n\nmsg.payload = {\n    email: msg.payload.email,\n    deleted: false\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 2980,
        "wires": [
            [
                "bfda0ffbb10779bc"
            ]
        ]
    },
    {
        "id": "bfda0ffbb10779bc",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 430,
        "y": 2980,
        "wires": [
            [
                "0ad420bdb40c7f48"
            ]
        ]
    },
    {
        "id": "0ad420bdb40c7f48",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "check",
        "func": "if (msg.payload.length > 0) {\n    msg.payload = {\n        data: \"This email address already exists\",\n        code: 400,\n    }\n    return [null, msg]\n}\nelse{\n    return [msg, null]\n}\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 2980,
        "wires": [
            [
                "37630c5145f4933f"
            ],
            [
                "0107039c4340e3b2"
            ]
        ]
    },
    {
        "id": "0107039c4340e3b2",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 700,
        "y": 3020,
        "wires": []
    },
    {
        "id": "37630c5145f4933f",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "registration user",
        "func": "let randomColor = \"#\" + Math.floor(Math.random() * 16777215).toString(16);\nlet encryptedPassword = await bcrypt.hash(msg.oldpayload.password, 10);\n\nmsg.payload = {\n    \"_id\": objectid(),\n    \"deleted\": false,\n    \"avatarColor\": randomColor,\n    \"createdAt\": new Date(),\n    \"roles\": [objectid(msg.oldpayload.role)],\n    \"active\": true,\n    \"firstname\": msg.oldpayload.firstname,\n    \"lastname\": msg.oldpayload.lastname,\n    \"email\": msg.oldpayload.email,\n    \"password\": encryptedPassword,\n    verifyToken: null,\n    resetPassToken: \"\",\n    resetPassExpireToken: null\n}\n\nreturn msg;\n\n\n\n\n\n\n\n// let randomColor = \"#\" + Math.floor(Math.random() * 16777215).toString(16);\n// let encryptedPassword = await bcrypt.hash(msg.oldpayload.password, 10);\n// const verifyToken = await jwt.sign(\n//     { id: Math.round(Math.random()) },\n//     \"test\",\n//     {\n//         expiresIn: \"150m\",\n//     }\n// );\n\n// msg.cookies = {};\n// msg.cookies[\"verify_token\"] = verifyToken;\n// msg.cookies[\"email_register\"] = msg.oldpayload.email;\n\n// msg.payload = {\n//     \"_id\": objectid(),\n//     \"deleted\": false,\n//     \"avatarColor\": randomColor,\n//     \"createdAt\": new Date(),\n//     \"roles\": [objectid(\"634fe97d28c82b00103cd25d\")],\n//     \"active\": false,\n//     \"firstname\": msg.oldpayload.firstname,\n//     \"lastname\": msg.oldpayload.lastname,\n//     \"email\": msg.oldpayload.email,\n//     \"password\": encryptedPassword,\n//     verifyToken,\n//     resetPassToken: \"\",\n//     resetPassExpireToken: null\n// }\n\n// return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            },
            {
                "var": "bcrypt",
                "module": "bcrypt"
            },
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            }
        ],
        "x": 720,
        "y": 2960,
        "wires": [
            [
                "4c2bfcca94198e63",
                "97840b426439aec0"
            ]
        ]
    },
    {
        "id": "4c2bfcca94198e63",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "",
        "links": [
            "1764f8568a80ddbd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 870,
        "y": 2940,
        "wires": [
            []
        ]
    },
    {
        "id": "97840b426439aec0",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "3b2ecc05f3cef5f7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 2980,
        "wires": []
    },
    {
        "id": "bc0f550f1359a6ec",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "check_",
        "func": "msg.collection = \"admins\";\n\nmsg.payload= {\n        deleted:false\n      }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 3180,
        "wires": [
            [
                "bb7fbccbc18f9d03"
            ]
        ]
    },
    {
        "id": "43a5823267034adc",
        "type": "delay",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 3260,
        "wires": [
            [
                "bc0f550f1359a6ec"
            ]
        ]
    },
    {
        "id": "bb7fbccbc18f9d03",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "name": "find_",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 490,
        "y": 3180,
        "wires": [
            [
                "473eed3ec8b60522"
            ]
        ]
    },
    {
        "id": "0b2cf452ccbd0145",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "admin_roles",
        "func": "if(msg.payload.length>0){\n   \n    msg.payload=\n    {\n        \"name\": \"admin\", \"deleted\": false, \"permissions\": [\n            { \"module\": \"Start Page\", \"moduleId\": msg.payload.filter(e => e.name === \"Start Page\")[0]._id, \"canCreate\": true, \"canRead\": true, \"canEdit\": true, \"canRemove\": false },\n            { \"module\": \"Dashboard\", \"moduleId\": msg.payload.filter(e => e.name === \"Dashboard\")[0]._id, \"canCreate\": true, \"canRead\": true, \"canEdit\": true, \"canRemove\": false }, \n            { \"module\": \"Orders\", \"moduleId\": msg.payload.filter(e => e.name === \"Orders\")[0]._id, \"canCreate\": true, \"canRead\": true, \"canEdit\": true, \"canRemove\": false }, \n            { \"module\": \"Administrator\", \"moduleId\": msg.payload.filter(e => e.name === \"Administrator\")[0]._id, \"canCreate\": true, \"canRead\": true, \"canEdit\": true, \"canRemove\": false }], \n        \"createdAt\":Date.now() }\n        \n    msg.collection = \"admin_roles\"\n    return [msg,null];\n}\nelse{\n    return[null,msg]\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 3160,
        "wires": [
            [
                "3137080b8443ca6f"
            ],
            [
                "43a5823267034adc"
            ]
        ]
    },
    {
        "id": "473eed3ec8b60522",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "function 385",
        "func": "if (msg.payload.length === 0){\n   return [msg, null];\n}\nelse return [null,msg];\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 595,
        "y": 3180,
        "wires": [
            [
                "ab652fd69b89e525"
            ],
            [
                "688982904305d6b0"
            ]
        ],
        "l": false
    },
    {
        "id": "647f224769fd5ccf",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "name": "find_",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1350,
        "y": 3160,
        "wires": [
            [
                "0b2cf452ccbd0145"
            ]
        ]
    },
    {
        "id": "3137080b8443ca6f",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "name": "insert_",
        "links": [
            "1764f8568a80ddbd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1670,
        "y": 3140,
        "wires": [
            [
                "28767513ce15095c"
            ]
        ]
    },
    {
        "id": "0a311e524a45cb4c",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "get module",
        "func": "msg.collection = \"admin_modules\"\nmsg.payload={deleted:false}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 3160,
        "wires": [
            [
                "647f224769fd5ccf"
            ]
        ]
    },
    {
        "id": "28767513ce15095c",
        "type": "delay",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1775,
        "y": 3140,
        "wires": [
            [
                "98a32147a7ff1fdc"
            ]
        ],
        "l": false
    },
    {
        "id": "ab652fd69b89e525",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "admin_modules",
        "func": "if(msg.payload.length===0){\n      \n     msg.payload = [\n          { \"name\": \"Start Page\", \"position\": 1, \"icon\": '', \"deleted\": false, \"isParent\": false },\n          { \"name\": \"Dashboard\", \"position\": 2, \"icon\": '', \"deleted\": false, \"isParent\": false },\n          { \"name\": \"Orders\", \"position\": 3, \"icon\": '', \"deleted\": false, \"isParent\": false },\n          { \"name\": \"Administrator\", \"position\": 4, \"icon\": '', \"deleted\": false, \"isParent\": true, \"childModules\": [{ \"name\": \"Modules\", \"page_id\": \"Modules\", \"position\": 1 }, { \"name\": \"Roles\", \"page_id\": \"Roles\", \"position\": 2 }, { \"name\": \"User Management\", \"page_id\": \"User Management\", \"position\": 3 }] }\n     ]\n\n     msg.collection = \"admin_modules\"\n\n     return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 3160,
        "wires": [
            [
                "ebd2d5ec975b8df6"
            ]
        ]
    },
    {
        "id": "f3f6b3701a56c295",
        "type": "delay",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1055,
        "y": 3160,
        "wires": [
            [
                "0a311e524a45cb4c"
            ]
        ],
        "l": false
    },
    {
        "id": "a4cd87d790402f29",
        "type": "delay",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2560,
        "y": 3200,
        "wires": [
            [
                "28767513ce15095c"
            ]
        ]
    },
    {
        "id": "98a32147a7ff1fdc",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "get roles",
        "func": "msg.collection = \"admin_roles\"\nmsg.payload={deleted:false}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 3140,
        "wires": [
            [
                "57457592b1c644ef"
            ]
        ]
    },
    {
        "id": "ebd2d5ec975b8df6",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "name": "insert_",
        "links": [
            "1764f8568a80ddbd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 950,
        "y": 3160,
        "wires": [
            [
                "f3f6b3701a56c295"
            ]
        ]
    },
    {
        "id": "fa153787f093eb1a",
        "type": "delay",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1920,
        "y": 3220,
        "wires": [
            [
                "f3f6b3701a56c295"
            ]
        ]
    },
    {
        "id": "0ad552e590edd45e",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "send response",
        "func": "if(msg.payload.length>0){\nmsg.payload={\n    error: false,\n    email: msg.payload[0].email,\n    password: msg.password\n}\nreturn [msg,null];\n}\nelse{\n    return[null,msg]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2860,
        "y": 3120,
        "wires": [
            [
                "e4d439733f677236"
            ],
            [
                "a4cd87d790402f29"
            ]
        ]
    },
    {
        "id": "57457592b1c644ef",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "name": "find_",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 2030,
        "y": 3140,
        "wires": [
            [
                "01d699427aab4b28"
            ]
        ]
    },
    {
        "id": "01d699427aab4b28",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "admins",
        "func": "if (msg.payload.length > 0){\nlet bcrypt = global.get('bcrypt')\nlet result = '';\nconst characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';\nconst charactersLength = characters.length;\nfor (let i = 0; i < 8; i++) {\n    result += characters.charAt(Math.floor(Math.random() * charactersLength));\n}\n\nlet encryptedPassword = await bcrypt.hash(result, 10);\n\nmsg.password=result\nmsg.payload = {\n    \"deleted\": false,\n    \"avatarColor\": \"#80f124\",\n    \"createdAt\": Date.now(),\n    \"roles\": [msg.payload[0]._id],\n    \"role\": msg.payload[0].name,\n    \"active\": true,\n    \"firstname\": \"admin\",\n    \"lastname\": \"admin\",\n    \"email\": \"admin@ubos.tech\" ,\n    \"password\": encryptedPassword,\n    \"verifyToken\": null,\n    \"resetPassToken\": \"\",\n    \"resetPassExpireToken\": null\n}\nmsg.collection = \"admins\";\nmsg.a = msg.payload\nreturn [msg,null];\n}else{\n    return[null,msg]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2180,
        "y": 3140,
        "wires": [
            [
                "0658b60de37e40e6"
            ],
            [
                "fa153787f093eb1a"
            ]
        ]
    },
    {
        "id": "ad141a591246cdb7",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "name": "find_",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 2690,
        "y": 3120,
        "wires": [
            [
                "0ad552e590edd45e"
            ]
        ]
    },
    {
        "id": "e4d439733f677236",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 3030,
        "y": 3100,
        "wires": []
    },
    {
        "id": "0658b60de37e40e6",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "name": "insert_",
        "links": [
            "1764f8568a80ddbd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 2330,
        "y": 3120,
        "wires": [
            [
                "45a32356e02a2d3c"
            ]
        ]
    },
    {
        "id": "16130ac3714e8190",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "get admin",
        "func": "msg.collection = \"admins\";\n\nmsg.payload = {\n    \"deleted\": false,\n    email: msg.a.email\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 3120,
        "wires": [
            [
                "ad141a591246cdb7"
            ]
        ]
    },
    {
        "id": "45a32356e02a2d3c",
        "type": "delay",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2425,
        "y": 3120,
        "wires": [
            [
                "16130ac3714e8190"
            ]
        ],
        "l": false
    },
    {
        "id": "4d6a17c73d546732",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "url": "/checkData",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 3180,
        "wires": [
            [
                "bc0f550f1359a6ec"
            ]
        ]
    },
    {
        "id": "688982904305d6b0",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 3200,
        "wires": []
    },
    {
        "id": "cbf113967aacc39c",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "check_",
        "func": "msg.collection = \"admins\";\n\nmsg.payload = {\n  deleted: false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 3340,
        "wires": [
            [
                "2f08bb9c796e6811"
            ]
        ]
    },
    {
        "id": "2f08bb9c796e6811",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "name": "find_",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 550,
        "y": 3340,
        "wires": [
            [
                "2c2cc8f2f6ce1020"
            ]
        ]
    },
    {
        "id": "2c2cc8f2f6ce1020",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "name": "function 387",
        "func": "if (msg.payload.length === 0){\n   return [msg, null];\n}\nelse return [null, msg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 665,
        "y": 3340,
        "wires": [
            [
                "f80d088a15bd91a8"
            ],
            [
                "f80d088a15bd91a8"
            ]
        ],
        "l": false
    },
    {
        "id": "ee9ce46bbbf0bd7c",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "url": "/checkAdmin",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 3340,
        "wires": [
            [
                "cbf113967aacc39c"
            ]
        ]
    },
    {
        "id": "f80d088a15bd91a8",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 3340,
        "wires": []
    },
    {
        "id": "5c6e2dd94ba411ce",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "login",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "672799ed948f1313"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "672799ed948f1313",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "check",
        "func": "const regexEmail = /^(([^<>()[\\]\\.,;:\\s@\\\"]+(\\.[^<>()[\\]\\.,;:\\s@\\\"]+)*)|(\\\".+\\\"))@(([^<>()[\\]\\.,;:\\s@\\\"]+\\.)+[^<>()[\\]\\.,;:\\s@\\\"]{2,})$/i;\nconst regexPassword = /^(?!.*\\s).{8,}/;\nconst email = msg.payload.email.toLowerCase();\n\nif (!regexEmail.test(email)) {\n    msg.statusCode = 401;\n    msg.payload = {\n        data: \"Email is invalid\",\n        code: 401\n    }\n\n    return [null, msg];\n\n} else if (!regexPassword.test(msg.payload.password)) {\n    msg.statusCode = 401;\n    msg.payload = {\n        data: \"The password is invalid. The value must be at least 8 characters and without whitespaces\",\n        code: 401\n    }\n\n    return [null, msg];\n    \n} else {\n    msg.collection = \"admins\"\n    msg.fromApp = msg.payload\n\n    node.warn(msg.fromApp)\n\n    msg.payload = {\n        email: email,\n        deleted: false,\n        active: true\n    }\n\n    return [msg, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 120,
        "wires": [
            [
                "d8f65e08d1802e8e"
            ],
            [
                "769c853fb108cedb"
            ]
        ]
    },
    {
        "id": "b085f10213c6a2fc",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1230,
        "y": 100,
        "wires": []
    },
    {
        "id": "e594c405f087b6cf",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "check auth",
        "func": "\nif(msg.payload.length === 0){\n    msg.statusCode = 401;\n    msg.payload = {\n        data: \"Incorrect email or password\",\n        code:401\n    }\n    node.warn(\"Email not found\");\n    return [null,msg]\n} else {\n\n    let check = await bcrypt.compare(msg.fromApp.password, msg.payload[0].password);\n\n    if (!check) {\n        msg.statusCode = 401;\n        msg.payload = {\n            data: \"Incorrect email or password\",\n            code: 401\n        }\n        node.warn(\"Password incorrect\");\n        return [null, msg]\n    }\n\n    if (msg.payload[0].active === false) {\n        msg.statusCode = 401;\n        msg.payload = {\n            data: \"Email not activated\",\n            code: 401\n        }\n        return [null, msg]\n    }\n}\n\n\n\nreturn[msg,null]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bcrypt",
                "module": "bcrypt"
            }
        ],
        "x": 850,
        "y": 120,
        "wires": [
            [
                "1adb12ad2ffdeb42"
            ],
            [
                "0608e9f35bdcacf1"
            ]
        ]
    },
    {
        "id": "0608e9f35bdcacf1",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "1adb12ad2ffdeb42",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "jwt token",
        "func": "msg.payload = msg.payload[0]\nconst token = jwt.sign(\n    { user_id: msg.payload._id, email:msg.payload.email },\n    \"fGh2W42l\",\n    {\n        expiresIn: \"30d\",\n    }\n);\n\nmsg.cookies = {};\nmsg.cookies[\"user_token\"] = token;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            }
        ],
        "x": 1060,
        "y": 100,
        "wires": [
            [
                "b085f10213c6a2fc"
            ]
        ]
    },
    {
        "id": "d390b9504c129252",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "checkToken",
        "url": "/checkToken",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "097b05d6f95dab62"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "b457f0b5c3fd5d96",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "statusCode": "401",
        "headers": {},
        "x": 1040,
        "y": 900,
        "wires": []
    },
    {
        "id": "097b05d6f95dab62",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "check jwt",
        "func": "msg.check = msg.payload;\nconst decoded = jwt.verify(msg.payload.token, 'fGh2W42l');\nmsg.payload = decoded\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            }
        ],
        "x": 320,
        "y": 860,
        "wires": [
            [
                "73893182e2e2ed57"
            ]
        ]
    },
    {
        "id": "dd3e208dfbba0a56",
        "type": "catch",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "scope": [
            "097b05d6f95dab62"
        ],
        "uncaught": false,
        "x": 90,
        "y": 960,
        "wires": [
            [
                "265641df05c1ca83"
            ]
        ]
    },
    {
        "id": "265641df05c1ca83",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "func": "msg.payload = {\n    auth: \"Unautorizate\",\n    code: 401,\n    login_id: msg.check.login_id,\n    app_id: msg.check.app_id\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 960,
        "wires": [
            [
                "de79ea462e97e016"
            ]
        ]
    },
    {
        "id": "de79ea462e97e016",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 960,
        "wires": []
    },
    {
        "id": "73893182e2e2ed57",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "check",
        "func": "msg.collection = \"admins\"\nmsg.fromApp = msg.payload\nmsg.payload = {\n    // email : msg.fromApp.email,\n    _id: objectid(msg.payload.user_id),\n    deleted:false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 490,
        "y": 860,
        "wires": [
            [
                "1a6b5d862a0b4bfc"
            ]
        ]
    },
    {
        "id": "cfc7631182b5ef67",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "check auth",
        "func": "\nif(msg.payload.length > 0){\n    msg.payload = msg.payload[0]\n    msg.user = {\n        auth: \"Success\",\n        code:200,\n        user: msg.payload\n    }\n    return [msg,null]\n}else{\n    msg.payload = {\n        auth: \"Unautorizate\",\n        code: 401,\n        login_id:msg.check.login_id,\n        app_id:msg.check.app_id\n    }\n    return [null,msg]\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 860,
        "wires": [
            [
                "92a82d990292b9c2"
            ],
            [
                "b457f0b5c3fd5d96"
            ]
        ]
    },
    {
        "id": "a602a24988dcc60f",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1870,
        "y": 820,
        "wires": []
    },
    {
        "id": "6f81187c8d88e4de",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "e594c405f087b6cf"
            ]
        ]
    },
    {
        "id": "1a6b5d862a0b4bfc",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 660,
        "y": 860,
        "wires": [
            [
                "cfc7631182b5ef67"
            ]
        ]
    },
    {
        "id": "ca2dc46c7edc0fb2",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "links": [
            "b7c366424b9b7e6e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1200,
        "y": 820,
        "wires": [
            [
                "0cfa0691dcae508d"
            ]
        ]
    },
    {
        "id": "e49d1c22247329f1",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "signout",
        "url": "/signout",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "79c17e7d8ed1f939"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "962e2be5ddd19cfc",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "79c17e7d8ed1f939",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "check jwt",
        "func": "msg.cookies={\n    user_token: null\n}\n\nmsg.payload={\n    success: true\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "c67252247235be7c"
            ]
        ]
    },
    {
        "id": "c67252247235be7c",
        "type": "delay",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "962e2be5ddd19cfc"
            ]
        ]
    },
    {
        "id": "d8f65e08d1802e8e",
        "type": "delay",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "6f81187c8d88e4de"
            ]
        ]
    },
    {
        "id": "92a82d990292b9c2",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "get roles",
        "func": "msg.collection = \"admin_roles\"\nmsg.payload = [\n    {\n        $match:{\n            \"_id\": ObjectId(msg.payload.roles)\n        }\n    },\n    {\n        $lookup: {\n            from: 'translation',\n            as: 'translation',\n            pipeline: [\n                {\n                    $match: {\n                        deleted: false,\n                        language: msg.user.user.language\n                    }\n                }\n            ]\n        }\n    },\n    {\n        $lookup:\n        {\n            from: \"admin_modules\",\n            localField: \"permissions.moduleId\",\n            foreignField: \"_id\",\n            as: \"menu\"\n    }\n},\n]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "ObjectId",
                "module": "objectid"
            }
        ],
        "x": 1040,
        "y": 820,
        "wires": [
            [
                "ca2dc46c7edc0fb2"
            ]
        ]
    },
    {
        "id": "e653dc9c2aa956f2",
        "type": "catch",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "g",
        "scope": [
            "92a82d990292b9c2"
        ],
        "uncaught": false,
        "x": 1470,
        "y": 860,
        "wires": [
            [
                "0b6ff6d92b1de7e7"
            ]
        ]
    },
    {
        "id": "0b6ff6d92b1de7e7",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "show err Unautorizate",
        "func": "msg.payload ={\n    auth: \"Unautorizate\",\n    code: 401,\n    login_id: msg.check.login_id,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 860,
        "wires": [
            [
                "a602a24988dcc60f"
            ]
        ]
    },
    {
        "id": "f2f94b0b491998e3",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "check ",
        "func": "const regexEmail = /^(([^<>()[\\]\\.,;:\\s@\\\"]+(\\.[^<>()[\\]\\.,;:\\s@\\\"]+)*)|(\\\".+\\\"))@(([^<>()[\\]\\.,;:\\s@\\\"]+\\.)+[^<>()[\\]\\.,;:\\s@\\\"]{2,})$/i;\nconst regexPassword = /^(?!.*\\s).{8,}/;\nconst email = msg.payload.email.toLowerCase();\n\nif (!regexEmail.test(email)) {\n    msg.statusCode = 401;\n    msg.payload = {\n        data: \"Email is invalid\",\n        code: 401\n    }\n\n    return [null, msg];\n\n} else if (!regexPassword.test(msg.payload.password)) {\n    msg.statusCode = 401;\n    msg.payload = {\n        data: \"The password is invalid. The value must be at least 8 characters and without whitespaces\",\n        code: 401\n    }\n\n    return [null, msg];\n\n} else {\n    msg.collection = \"admins\";\n    msg.oldpayload = msg.payload;\n\n    msg.payload = {\n        email: email,\n        deleted: false\n    };\n\n    return [msg, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 480,
        "wires": [
            [
                "e4082ecde347ac24"
            ],
            [
                "82bf44e646ff81c1"
            ]
        ]
    },
    {
        "id": "e4082ecde347ac24",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 460,
        "y": 460,
        "wires": [
            [
                "831f0bc99fde7925"
            ]
        ]
    },
    {
        "id": "831f0bc99fde7925",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "check",
        "func": "if (msg.payload.length > 0) {\n    if (!msg.payload[0].active) {\n        const decoded = jwt.verify(msg.payload[0].verifyToken, 'fGh2W42l');\n        const dateNow = new Date().getTime();\n\n        if (decoded.exp < dateNow) {\n            msg.query = { _id: objectid(msg.payload[0]._id) }\n            msg.payload = {\n                $set: {\n                    deleted: false\n                }\n            }\n\n            return [null, null, msg, null]\n        } else {\n            msg.payload = {\n                verifyToken: msg.payload[0].verifyToken,\n                email: msg.payload[0].email\n            }\n\n            return [null, null, null, msg]\n        }\n    } else {\n        msg.payload = {\n            data: \"This email address already exists\",\n            code: 400,\n        }\n        return [null, msg, null, null]\n    }\n}\nelse {\n    return [msg, null, null, null]\n}\n\n\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            },
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 650,
        "y": 460,
        "wires": [
            [
                "376f7da2f0d85f32"
            ],
            [
                "9da58b8ba7897ee6"
            ],
            [
                "6012ab98a19cbb6a"
            ],
            [
                "eed04ab51fe181f6"
            ]
        ]
    },
    {
        "id": "376f7da2f0d85f32",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "registration user",
        "func": "let randomColor = \"#\" + Math.floor(Math.random() * 16777215).toString(16);\nlet encryptedPassword = await bcrypt.hash(msg.oldpayload.password, 10);\nconst verifyToken = await jwt.sign(\n    { id: Math.round(Math.random()) },\n    \"fGh2W42l\",\n    {\n        expiresIn: \"30d\",\n    }\n);\n\n\nmsg.cookies = {};\nmsg.cookies[\"verify_token\"] = verifyToken;\nmsg.cookies[\"email_register\"] = msg.oldpayload.email;\n\nmsg.payload = {\n    \"_id\": objectid(),\n    \"deleted\": false,\n    \"avatarColor\": randomColor,\n    \"createdAt\": new Date(),\n    \"roles\": \"admin\",\n    \"role\": \"admin\",\n    \"active\": true,\n    // \"firstname\": msg.oldpayload.firstname,\n    // \"lastname\": msg.oldpayload.lastname,\n    \"email\": msg.oldpayload.email.toLowerCase(),\n    \"password\": encryptedPassword,\n    verifyToken,\n    resetPassToken: \"\",\n    resetPassExpireToken: null\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            },
            {
                "var": "bcrypt",
                "module": "bcrypt"
            },
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            }
        ],
        "x": 1040,
        "y": 420,
        "wires": [
            [
                "eed04ab51fe181f6",
                "bb1864602327c1ca"
            ]
        ]
    },
    {
        "id": "9da58b8ba7897ee6",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "bb1864602327c1ca",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "links": [
            "1764f8568a80ddbd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1230,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "eed04ab51fe181f6",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "msg to email",
        "func": "const token = msg.payload.verifyToken;\nconst back = env.get(\"back\");\nconst url = `${back}/verifyToken?token=${token}`;\nconst text = `\n<div style=\"padding: 10px 0; color: black;\">\n    <h1>Confirm Your Email Address</h1>\n    <p>Tap the button below to confirm your email address. If you didn't create an account, you can delete this email.</p>\n    <a href=\"${url}\" target=\"_blank\" style=\"margin: 10px 0; display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px; background: #95e4f0;\">Confirm</a>\n</div>\n`;\n\nmsg.to = msg.payload.email;\nmsg.topic = 'Verify';\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            }
        ],
        "x": 1250,
        "y": 500,
        "wires": [
            [
                "406b08af64a38632"
            ]
        ]
    },
    {
        "id": "406b08af64a38632",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1410,
        "y": 540,
        "wires": []
    },
    {
        "id": "46d2feb29eb7f617",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "repeatRegisterEmail",
        "url": "/repeatRegisterEmail",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "ba0fdb3c55f49767"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "ba0fdb3c55f49767",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "email and token",
        "func": "msg.payload = {\n    verifyToken: msg.req.cookies.verify_token,\n    email: msg.req.cookies.email_register.toLowerCase()\n}\nmsg.email = msg.req.cookies.email_register.toLowerCase();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 660,
        "wires": [
            [
                "32fb51525caa70d8"
            ]
        ]
    },
    {
        "id": "99544f5cb03a9f23",
        "type": "http response",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 660,
        "wires": []
    },
    {
        "id": "32fb51525caa70d8",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "msg to email",
        "func": "const token = msg.payload.verifyToken;\nconst back = env.get(\"back\");\nconst url = `${back}/verifyToken?token=${token}`;\nconst text = `\n<div style=\"padding: 10px 0; color: black;\">\n    <h1>Confirm Your Email Address</h1>\n    <p>Tap the button below to confirm your email address. If you didn't create an account, you can delete this email.</p>\n    <a href=\"${url}\" target=\"_blank\" style=\"margin: 10px 0; display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px; background: #95e4f0;\">Confirm</a>\n</div>\n`;\n\nmsg.to = msg.payload.email;\nmsg.topic = 'Verify';\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            }
        ],
        "x": 530,
        "y": 660,
        "wires": [
            [
                "d2dc6d60f2aadf80"
            ]
        ]
    },
    {
        "id": "d2dc6d60f2aadf80",
        "type": "function",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "msg to page",
        "func": "msg.payload = {\n    data: `We sent the email \"${msg.email}\" again. Please, check your inbox or spam.`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 660,
        "wires": [
            [
                "99544f5cb03a9f23"
            ]
        ]
    },
    {
        "id": "71d0784401d97a30",
        "type": "http in",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "registration",
        "url": "/registration",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "f2f94b0b491998e3"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "6012ab98a19cbb6a",
        "type": "link call",
        "z": "c8b39bad946d8ab6",
        "g": "d78377c07a215120",
        "name": "",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 850,
        "y": 480,
        "wires": [
            [
                "376f7da2f0d85f32"
            ]
        ]
    },
    {
        "id": "0432352c4179b24e",
        "type": "http in",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "url": "/getOrders",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "63e3882424b7b31a"
            ]
        ]
    },
    {
        "id": "63e3882424b7b31a",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "get orders",
        "func": "msg.collection = 'orders'\n\nmsg.payload = {\n   deleted: false,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "6f82f37ba3ca2c5d"
            ]
        ]
    },
    {
        "id": "c76463c7de832d71",
        "type": "http response",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "6f82f37ba3ca2c5d",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "find",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 610,
        "y": 500,
        "wires": [
            [
                "c76463c7de832d71"
            ]
        ]
    },
    {
        "id": "537fe82dbd103dab",
        "type": "http in",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "url": "/updateOrder",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "509a5140e4bea532"
            ]
        ]
    },
    {
        "id": "509a5140e4bea532",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "update order",
        "func": "msg.collection= 'orders'\n\nmsg.payload = {\n    status: 'New',\n    deleted: false\n}\nmsg.query = {\n    _id: objectid('6479a35d8e537f001267b0c6')\n}\nmsg.payload = {\n    $set:{\n        ...msg.payload\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "87ee588dc76b318f"
            ]
        ]
    },
    {
        "id": "bfa0d85aa7b76391",
        "type": "http response",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "87ee588dc76b318f",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "update",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 620,
        "y": 200,
        "wires": [
            [
                "9351e32f4cd0c3e6"
            ]
        ]
    },
    {
        "id": "9351e32f4cd0c3e6",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "res",
        "func": "msg.payload={\n    success: true,\n    payload: ' !'\n}\nmsg.statusCode = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 200,
        "wires": [
            [
                "bfa0d85aa7b76391"
            ]
        ]
    },
    {
        "id": "4c34036ed489adaf",
        "type": "http in",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "url": "/deleteOrder",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "52f4ade65d9359c4"
            ]
        ]
    },
    {
        "id": "52f4ade65d9359c4",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "delete order",
        "func": "msg.collection= 'orders'\n\nmsg.query = {\n    _id: objectid(msg.payload._id)\n}\nmsg.payload = {\n    $set:{\n        deleted: true\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "a51d9a0f0a1c6482"
            ]
        ]
    },
    {
        "id": "00cef083d7d2a71f",
        "type": "http response",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "a51d9a0f0a1c6482",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "update",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 620,
        "y": 300,
        "wires": [
            [
                "4549778a61280110"
            ]
        ]
    },
    {
        "id": "4549778a61280110",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "res",
        "func": "msg.payload={\n    success: true,\n    payload: ' !'\n}\nmsg.statusCode = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 300,
        "wires": [
            [
                "00cef083d7d2a71f"
            ]
        ]
    },
    {
        "id": "5cb7cc2a0f0f63b1",
        "type": "http in",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "url": "/changeOrderStatus",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "0a99a535c9830530"
            ]
        ]
    },
    {
        "id": "0a99a535c9830530",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "change status",
        "func": "msg.collection= 'orders'\n\nmsg.query = {\n    _id: objectid(msg.payload._id)\n}\nmsg.payload = {\n    $set:{\n        order_status: msg.payload.status\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "da9ecd86e6ad0798"
            ]
        ]
    },
    {
        "id": "a4eeae1641a1331b",
        "type": "http response",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "da9ecd86e6ad0798",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "update",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 620,
        "y": 400,
        "wires": [
            [
                "989f55fc64c61ea2"
            ]
        ]
    },
    {
        "id": "989f55fc64c61ea2",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "res",
        "func": "msg.payload={\n    success: true,\n    payload: ' !'\n}\nmsg.statusCode = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 400,
        "wires": [
            [
                "a4eeae1641a1331b"
            ]
        ]
    },
    {
        "id": "73965a20b0544133",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "save order",
        "func": "msg.fromSite = msg.payload\nconst convertToKyivTime = global.get('helpers').convertToKyivTime\n// const replaceSymbols = global.get('helpers').replaceSymbols\n\nmsg.collection= 'orders'\nlet products = msg.fromSite.items.map((e, index) => {\n    return {\n        ...e,\n        id: index\n    };\n});\n\nlet reservation_data = JSON.stringify({\n    \"products\": products\n});\nlet totalCost = products.reduce((accumulator, currentItem) => {\n    return accumulator + (currentItem.quantity * (currentItem.price * 100));\n}, 0);\n\nmsg.orderId = objectid();\n//   ' \nif (\n    msg.fromSite.hasOwnProperty('items') &&\n    msg.fromSite.hasOwnProperty('payment_method')\n) {\n    //  '    '\n    const optionalFields = {};\n\n    //     ' msg.fromSite\n    for (const key in msg.fromSite) {\n        if (msg.fromSite.hasOwnProperty(key)) {\n            // ,     '\n            if (key !== 'items' && key !== 'payment_method') {\n                optionalFields[key] = msg.fromSite[key];\n            }\n        }\n    }\n\n    //  '  msg.payload\n    msg.payload = {\n        _id: msg.orderId,\n        createdAt: convertToKyivTime(),\n        order_status: 'obtained from the site',\n        details: msg.fromSite.items,\n        total_cost: Number(totalCost),\n        payment_method: msg.fromSite.payment_method,\n        deleted: false,\n        ...optionalFields, //  '    '\n    };\n    msg.order = msg.payload;\n    return [msg, null]\n} else {\n    msg.payload = '\\'    \\''\n    return [null,msg]\n}\n\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "4336d8cd0c11aa0e"
            ],
            [
                "c521019d1e10b5f1"
            ]
        ]
    },
    {
        "id": "4336d8cd0c11aa0e",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "insert",
        "links": [
            "1764f8568a80ddbd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "51914a9afb54534c",
                "67d1aa8a0cdfc6c5"
            ]
        ]
    },
    {
        "id": "51914a9afb54534c",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "res",
        "func": "msg.payload={\n    success: true,\n    payload: 'Order was sent!'\n}\nmsg.statusCode = 200\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "67d1aa8a0cdfc6c5",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "function 332",
        "func": "const password = global.get(\"processENV\").password;\n// let objJsonB64 = Buffer.from(reservation_data).toString(\"base64\");\n\nconst order = {\n    order_id: msg.orderId,\n    merchant_id: global.get(\"processENV\").merchant_id,\n    order_desc: `order ${msg.orderId} payment`,\n    amount: msg.order.total_cost,\n    currency: 'UAH',\n    // reservation_data: objJsonB64,\n    server_callback_url: `${env.get(\"back\")}/callback`\n   };\n\n\nconst orderKeys = Object.keys(order).sort((a, b) => {\n    if (a < b) return -1;\n    if (a > b) return 1;\n    return 0;\n});\n\n\nconst signatureRow = orderKeys.map((v) => order[v]).join('|');\n\nlet signature = crypto.createHash('sha1');\nsignature.update(`${password}|${signatureRow}`);\n\n let sign = signature.digest('hex')\nconst options = {\n    headers: {\n        'Content-Type': 'application/json',\n    },\n    body: {\n        request: {\n            ...order,\n            signature: sign\n        }\n    },\n     json: true\n};\n\n\nmsg.headers = options.headers;\nmsg.payload = options.body;\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            },
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 790,
        "y": 100,
        "wires": [
            [
                "c53ccffce2ae9cfd"
            ]
        ]
    },
    {
        "id": "c53ccffce2ae9cfd",
        "type": "http request",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://pay.fondy.eu/api/checkout/url/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 100,
        "wires": [
            [
                "e02f6d4da24fdbd4",
                "c8f775ef18de6f6f"
            ]
        ]
    },
    {
        "id": "e02f6d4da24fdbd4",
        "type": "http response",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "statusCode": "",
        "headers": {
            "location": "msg.payload.response.checkout_url"
        },
        "x": 1110,
        "y": 100,
        "wires": []
    },
    {
        "id": "f87e793e5627ca7d",
        "type": "http in",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "url": "/callback",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "7181197c36dbb81a"
            ]
        ]
    },
    {
        "id": "7181197c36dbb81a",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "function 333",
        "func": "msg.fromFondy = msg.payload\nmsg.payload={\n    order_status: msg.payload.approved,\n    payment_id: Number(msg.payload.payment_id)\n}\nmsg.collection = 'orders'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 800,
        "wires": [
            [
                "2f3b12e8c06141df"
            ]
        ]
    },
    {
        "id": "c8f775ef18de6f6f",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "update order",
        "func": "if (msg.statusCode === 200) {\n    msg.collection = 'orders'\n\n    msg.query = {\n        _id: msg.orderId\n    }\n    \n    msg.payload = {\n        $set: {\n            payment_id:Number(msg.payload.response.payment_id)\n        }\n    }\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 1130,
        "y": 60,
        "wires": [
            [
                "bc74f407da6de118"
            ]
        ]
    },
    {
        "id": "bc74f407da6de118",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "update",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1320,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2f3b12e8c06141df",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "find",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 610,
        "y": 800,
        "wires": [
            [
                "cdf16823efcee71f"
            ]
        ]
    },
    {
        "id": "cdf16823efcee71f",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "save order",
        "func": "if (msg.payload.length === 0) {\n    msg.query={\n        payment_id: Number(msg.fromFondy.payment_id)\n    }\n    msg.payload={\n        $set:{\n            order_status: msg.fromFondy.order_status\n        }\n    }\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 790,
        "y": 800,
        "wires": [
            [
                "f9b651d25666fdfb"
            ]
        ]
    },
    {
        "id": "f9b651d25666fdfb",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "update",
        "links": [
            "286431cd31c9fc7a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 960,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "96313af3addeebb0",
        "type": "http in",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "url": "/getOrderDetails",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "431ab6c5e0ae5251"
            ]
        ]
    },
    {
        "id": "431ab6c5e0ae5251",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "get orders details",
        "func": "msg.collection = 'orders'\n\nmsg.payload = {\n   _id: objectid(msg.payload._id),\n   deleted: false,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 410,
        "y": 560,
        "wires": [
            [
                "dd5cb51bed2e839f"
            ]
        ]
    },
    {
        "id": "dd5cb51bed2e839f",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "find",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "c687368ee12a6bd1"
            ]
        ]
    },
    {
        "id": "c687368ee12a6bd1",
        "type": "http response",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "5875a62a717c32e4",
        "type": "http in",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "url": "/makeOrder",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "73965a20b0544133"
            ]
        ]
    },
    {
        "id": "b9a648285db5b850",
        "type": "http in",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "url": "/getPendingOrders",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "7db38f2cc48552ce"
            ]
        ]
    },
    {
        "id": "7db38f2cc48552ce",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "get pending orders ",
        "func": "msg.collection = 'orders'\n\nmsg.payload = [\n   {\n      $match: {\n         order_status: { $in: [\"pending\", \"created\", \"processing\", \"obtained from the site\"] },\n         deleted: false\n      }\n   }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 410,
        "y": 620,
        "wires": [
            [
                "d43a3d85596ad4ea"
            ]
        ]
    },
    {
        "id": "d43a3d85596ad4ea",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "aggregate",
        "links": [
            "b7c366424b9b7e6e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 620,
        "y": 620,
        "wires": [
            [
                "83efd9a9e7bd4890"
            ]
        ]
    },
    {
        "id": "83efd9a9e7bd4890",
        "type": "http response",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "4c3980a765f5fd01",
        "type": "http in",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "url": "/getSuccessfulOrders",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "1299a32cf310a0c1"
            ]
        ]
    },
    {
        "id": "1299a32cf310a0c1",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "get successful orders",
        "func": "msg.collection = 'orders'\n\nmsg.payload = [\n   {\n      $match: {\n         order_status: { $in: [\"approved\", \"successful\"] },\n         deleted:false\n      }\n   }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 420,
        "y": 680,
        "wires": [
            [
                "ed38466de027894f"
            ]
        ]
    },
    {
        "id": "ed38466de027894f",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "aggregate",
        "links": [
            "b7c366424b9b7e6e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 620,
        "y": 680,
        "wires": [
            [
                "d6e80f5e2a39f923"
            ]
        ]
    },
    {
        "id": "d6e80f5e2a39f923",
        "type": "http response",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "c8ef3f2fe2ab0770",
        "type": "http in",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "url": "/getRejectedOrders",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "a6656f33019601eb"
            ]
        ]
    },
    {
        "id": "a6656f33019601eb",
        "type": "function",
        "z": "7b13882ad5aa8e09",
        "name": "get rejected orders ",
        "func": "msg.collection = 'orders'\n\nmsg.payload = [\n   {\n      $match: {\n         order_status: { $in: [\"rejected\", \"declined\", \"expired\", \"reversed\"] },\n         deleted:false\n      }\n   }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 410,
        "y": 740,
        "wires": [
            [
                "21a37100512e98d7"
            ]
        ]
    },
    {
        "id": "21a37100512e98d7",
        "type": "link call",
        "z": "7b13882ad5aa8e09",
        "name": "aggregate",
        "links": [
            "b7c366424b9b7e6e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 620,
        "y": 740,
        "wires": [
            [
                "1fa1e518d679f1d0"
            ]
        ]
    },
    {
        "id": "1fa1e518d679f1d0",
        "type": "http response",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 740,
        "wires": []
    },
    {
        "id": "c521019d1e10b5f1",
        "type": "http response",
        "z": "7b13882ad5aa8e09",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "35f1a20d2f7b051e",
        "type": "http in",
        "z": "42cf3c01bc6c1d41",
        "name": "",
        "url": "/orderStatistics",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "dc0a8b87efabae6a"
            ]
        ]
    },
    {
        "id": "72206e573c4b76b7",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "make chartData",
        "func": "\nconst totalOrders = msg.payload.total;\n\n\nconst ordersData = [\n    {\n        \"label\": \"Total orders\",\n        \"value\": msg.payload.successful.length,\n        \"type\": \"Successful\",\n        \"color\": \"#A8CFCC\",\n        \"borderColor\": \"#000\"\n    },\n    {\n        \"label\": \"Total orders\",\n        \"value\": msg.payload.rejected.length ,\n        \"type\": \"Rejected\",\n        \"color\": \"#E4734E\",\n        \"borderColor\": \"#000\"\n    },\n    {\n        \"label\": \"Total orders\",\n        \"value\": msg.payload.pending.length,\n        \"type\": \"Pending\",\n        \"color\": \"#FFBB23\",\n        \"borderColor\": \"#000\"\n    }\n   \n]\n\n//  \nconst chartData = {\n    chartData:[\n    ...ordersData\n],\n    total: totalOrders };\n\n\n\n//     \nmsg.payload = chartData;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 40,
        "wires": [
            [
                "a77bbd3764193dfb"
            ]
        ]
    },
    {
        "id": "dc0a8b87efabae6a",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "get orders",
        "func": "\nmsg.collection = 'orders'\nmsg.payload = {\n      deleted: false\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 40,
        "wires": [
            [
                "b036a50553292366"
            ]
        ]
    },
    {
        "id": "b036a50553292366",
        "type": "link call",
        "z": "42cf3c01bc6c1d41",
        "name": "find",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 40,
        "wires": [
            [
                "415ee0e1b6f65dd4"
            ]
        ]
    },
    {
        "id": "415ee0e1b6f65dd4",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "group orders",
        "func": "msg.payload = {\n    pending: msg.payload.filter(e => e.order_status === 'pending' || e.order_status === 'created' || e.order_status === 'processing' || e.order_status === 'obtained from the site'),\n    rejected: msg.payload.filter(e => e.order_status === 'rejected' || e.order_status === 'declined' || e.order_status === 'expired' || e.order_status === 'reversed'),\n    successful: msg.payload.filter(e => e.order_status === 'approved' || e.order_status === 'successful'),\n    total: msg.payload.length\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 40,
        "wires": [
            [
                "72206e573c4b76b7"
            ]
        ]
    },
    {
        "id": "a77bbd3764193dfb",
        "type": "http response",
        "z": "42cf3c01bc6c1d41",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 40,
        "wires": []
    },
    {
        "id": "bd4d8441ed957472",
        "type": "http in",
        "z": "42cf3c01bc6c1d41",
        "name": "",
        "url": "/cashStatistics",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "a354aaa01e8aaed5"
            ]
        ]
    },
    {
        "id": "c7d8bd79d5c10c2d",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "make chartData",
        "func": "\nconst totalOrders = msg.payload.total;\n\n\nconst ordersData = [\n    {\n        \"label\": \"Ordered by cash\",\n        \"value\": msg.payload.successful.length,\n        \"type\": \"Successful\",\n        \"color\": \"#A8CFCC\",\n        \"borderColor\": \"#000\"\n    },\n    {\n        \"label\": \"Ordered by cash\",\n        \"value\": msg.payload.rejected.length ,\n        \"type\": \"Rejected\",\n        \"color\": \"#E4734E\",\n        \"borderColor\": \"#000\"\n    },\n    {\n        \"label\": \"Ordered by cash\",\n        \"value\": msg.payload.pending.length,\n        \"type\": \"Pending\",\n        \"color\": \"#FFBB23\",\n        \"borderColor\": \"#000\"\n    }\n   \n]\n\n//  \nconst chartData = {\n    chartData: [\n        ...ordersData\n    ],\n    total: totalOrders\n};\n\n\n//     \nmsg.payload = chartData;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 100,
        "wires": [
            [
                "ef07c3b8bf525e57"
            ]
        ]
    },
    {
        "id": "a354aaa01e8aaed5",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "get orders",
        "func": "\nmsg.collection = 'orders'\nmsg.payload = {\n      payment_method: \"cash\",\n      deleted: false\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 100,
        "wires": [
            [
                "4a7b997c7e3b3d78"
            ]
        ]
    },
    {
        "id": "4a7b997c7e3b3d78",
        "type": "link call",
        "z": "42cf3c01bc6c1d41",
        "name": "find",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "cf7f19cb2ab858fb"
            ]
        ]
    },
    {
        "id": "cf7f19cb2ab858fb",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "group orders",
        "func": "msg.payload = {\n    pending: msg.payload.filter(e => e.order_status === 'pending' || e.order_status === 'created' || e.order_status === 'processing' || e.order_status === 'obtained from the site'),\n    rejected: msg.payload.filter(e => e.order_status === 'rejected' || e.order_status === 'declined' || e.order_status === 'expired' || e.order_status === 'reversed'),\n    successful: msg.payload.filter(e => e.order_status === 'approved' || e.order_status === 'successful'),\n    total: msg.payload.length\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 100,
        "wires": [
            [
                "c7d8bd79d5c10c2d"
            ]
        ]
    },
    {
        "id": "ef07c3b8bf525e57",
        "type": "http response",
        "z": "42cf3c01bc6c1d41",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 100,
        "wires": []
    },
    {
        "id": "49499f09e9a27d92",
        "type": "http in",
        "z": "42cf3c01bc6c1d41",
        "name": "",
        "url": "/todayStatistics",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "c3a94188b92ea8a8"
            ]
        ]
    },
    {
        "id": "65f0bdfc367f0abf",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "make chartData",
        "func": "\nconst totalOrders = msg.payload.total;\n\n\nconst ordersData = [\n    {\n        \"label\": \"Ordered today\",\n        \"value\": msg.payload.successful.length,\n        \"type\": \"Successful\",\n        \"color\": \"#A8CFCC\",\n        \"borderColor\": \"#000\"\n    },\n    {\n        \"label\": \"Ordered today\",\n        \"value\": msg.payload.rejected.length ,\n        \"type\": \"Rejected\",\n        \"color\": \"#E4734E\",\n        \"borderColor\": \"#000\"\n    },\n    {\n        \"label\": \"Ordered today\",\n        \"value\": msg.payload.pending.length,\n        \"type\": \"Pending\",\n        \"color\": \"#FFBB23\",\n        \"borderColor\": \"#000\"\n    }\n   \n]\n\n//  \nconst chartData = {\n    chartData: [\n        ...ordersData\n    ],\n    total: totalOrders\n};\n\n\n\n//     \nmsg.payload = chartData;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 160,
        "wires": [
            [
                "0accf8fe8185520f"
            ]
        ]
    },
    {
        "id": "c3a94188b92ea8a8",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "get orders",
        "func": "msg.collection = 'orders';\n\n\nconst currentDate = new Date().toLocaleDateString('uk-UA', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\nmsg.payload = [\n      {\n            $match: {\n                  $expr: {\n                        $eq: [\n                              {\n                                    $dateToString: {\n                                          format: '%d.%m.%Y',\n                                          date: { $toDate: '$createdAt' }\n                                    }\n                              },\n                              currentDate\n                        ]\n                  },\n                  deleted: false\n            }\n      }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "9ae590a2ee719c74"
            ]
        ]
    },
    {
        "id": "9ae590a2ee719c74",
        "type": "link call",
        "z": "42cf3c01bc6c1d41",
        "name": "aggregate",
        "links": [
            "b7c366424b9b7e6e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "3fe5dc52d7de2497"
            ]
        ]
    },
    {
        "id": "3fe5dc52d7de2497",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "group orders",
        "func": "msg.payload = {\n    pending: msg.payload.filter(e => e.order_status === 'pending' || e.order_status === 'created' || e.order_status === 'processing' || e.order_status === 'obtained from the site'),\n    rejected: msg.payload.filter(e => e.order_status === 'rejected' || e.order_status === 'declined' || e.order_status === 'expired' || e.order_status === 'reversed'),\n    successful: msg.payload.filter(e => e.order_status === 'approved' || e.order_status === 'successful'),\n    total: msg.payload.length\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 160,
        "wires": [
            [
                "65f0bdfc367f0abf"
            ]
        ]
    },
    {
        "id": "0accf8fe8185520f",
        "type": "http response",
        "z": "42cf3c01bc6c1d41",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "78d28f16b3745dcd",
        "type": "http in",
        "z": "42cf3c01bc6c1d41",
        "name": "",
        "url": "/pieChart",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "74f36509fdb1eb9d"
            ]
        ]
    },
    {
        "id": "b5075bc80a13ef92",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "make chartData",
        "func": "\nconst totalOrders = msg.payload.total;\n\n\nconst ordersData = [\n    {\n        \"label\": \"Cash\",\n        \"value\": msg.payload.cash.length,\n        \"type\": \"Cash\",\n        \"color\": \"#82B5B2\",\n        \"borderColor\": \"#000\"\n    },\n    {\n        \"label\": \"Card\",\n        \"value\": msg.payload.card.length ,\n        \"type\": \"Card\",\n        \"color\": \"#FFCD80\",\n        \"borderColor\": \"#000\"\n    }\n   \n   \n]\n\n//  \nconst chartData = {\n    chartData:[\n    ...ordersData\n],\n    total: totalOrders };\n\n\n\n//     \nmsg.payload = chartData;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 220,
        "wires": [
            [
                "a9fb3be8536f23a1"
            ]
        ]
    },
    {
        "id": "74f36509fdb1eb9d",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "get orders",
        "func": "\nmsg.collection = 'orders'\nmsg.payload = {\n      deleted: false\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "3cd16e0aac975831"
            ]
        ]
    },
    {
        "id": "3cd16e0aac975831",
        "type": "link call",
        "z": "42cf3c01bc6c1d41",
        "name": "find",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "b6de9e2ef09ec4b2"
            ]
        ]
    },
    {
        "id": "b6de9e2ef09ec4b2",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "group orders",
        "func": "msg.payload = {\n    cash: msg.payload.filter(e => e.payment_method === 'cash'),\n    card: msg.payload.filter(e => e.payment_method === 'card'),\n    \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "b5075bc80a13ef92"
            ]
        ]
    },
    {
        "id": "a9fb3be8536f23a1",
        "type": "http response",
        "z": "42cf3c01bc6c1d41",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "314ccbc582172885",
        "type": "http in",
        "z": "42cf3c01bc6c1d41",
        "name": "",
        "url": "/cardStatistics",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "6a55c953117e0781"
            ]
        ]
    },
    {
        "id": "44369f24dd38b75e",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "make chartData",
        "func": "\nconst totalOrders = msg.payload.total;\n\n\nconst ordersData = [\n    {\n        \"label\": \"Ordered by card\",\n        \"value\": msg.payload.successful.length,\n        \"type\": \"Successful\",\n        \"color\": \"#A8CFCC\",\n        \"borderColor\": \"#000\"\n    },\n    {\n        \"label\": \"Ordered by card\",\n        \"value\": msg.payload.rejected.length ,\n        \"type\": \"Rejected\",\n        \"color\": \"#E4734E\",\n        \"borderColor\": \"#000\"\n    },\n    {\n        \"label\": \"Ordered by card\",\n        \"value\": msg.payload.pending.length,\n        \"type\": \"Pending\",\n        \"color\": \"#FFBB23\",\n        \"borderColor\": \"#000\"\n    }\n   \n]\n\n//  \nconst chartData = {\n    chartData: [\n       ...ordersData\n    ],\n    total: totalOrders\n};\n\n\n//     \nmsg.payload = chartData;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 280,
        "wires": [
            [
                "46b03620340c125e"
            ]
        ]
    },
    {
        "id": "6a55c953117e0781",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "get orders",
        "func": "\nmsg.collection = 'orders'\nmsg.payload = {\n      payment_method: \"card\",\n      deleted: false\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 280,
        "wires": [
            [
                "1b50f49e2eda21f8"
            ]
        ]
    },
    {
        "id": "1b50f49e2eda21f8",
        "type": "link call",
        "z": "42cf3c01bc6c1d41",
        "name": "find",
        "links": [
            "346e518816416d1d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "dc439bd4fee098a2"
            ]
        ]
    },
    {
        "id": "dc439bd4fee098a2",
        "type": "function",
        "z": "42cf3c01bc6c1d41",
        "name": "group orders",
        "func": "msg.payload = {\n    pending: msg.payload.filter(e => e.order_status === 'pending' || e.order_status === 'created' || e.order_status === 'processing' || e.order_status === 'obtained from the site'),\n    rejected: msg.payload.filter(e => e.order_status === 'rejected' || e.order_status === 'declined' || e.order_status === 'expired' || e.order_status === 'reversed'),\n    successful: msg.payload.filter(e => e.order_status === 'approved' || e.order_status === 'successful'),\n    total: msg.payload.length\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 280,
        "wires": [
            [
                "44369f24dd38b75e"
            ]
        ]
    },
    {
        "id": "46b03620340c125e",
        "type": "http response",
        "z": "42cf3c01bc6c1d41",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 280,
        "wires": []
    }
]